{% extends 'base.html.twig' %}
{% block body %}
    <h1>Entrenadores</h1>
    <h2>Enhorabuena has creado un nuevo entrenador</h2>
    {% if coach.team %}
        <p>{{ coach.nombre }} ha fichado por el {{ coach.team.nombre }}</p>
    {% else %}
        <p>{{ coach.nombre }} de momento no ha fichado por ningún equipo</p>
    {% endif %}

    <b><p>Nombre: </p></b>
    <p>{{ coach.nombre }}</p>
    <b><p>Email: </p></b>
    <p>{{ coach.email }}</p>
    <b><p>Salario: </p></b>
    <p>{{ coach.salario }}</p>


    <a href="/coaches"><h3>Volver al inicio</h3></a
{% endblock %}