{% extends 'base.html.twig' %}
{% block body %}
    <h1>Entrenadores</h1>
    <table style="border: 2px solid black">
        <thead>
        <tr>
            <th style="border: 2px solid black">ID del entrenador</th>
            <th style="border: 2px solid black">Nombre</th>
            <th style="border: 2px solid black">Salario</th>
            <th style="border: 2px solid black">Correo electrónico</th>
            <th style="border: 2px solid black">ID Equipo</th>
            <th style="border: 2px solid black">Actualizar</th>
            <th style="border: 2px solid black">Eliminar</th>
        </tr>
        </thead>
        <tbody>
            {% for coach in coaches %}
            <tr>
                <td style="border: 2px solid black">{{ coach.id }}</td>
                <td style="border: 2px solid black">{{ coach.nombre }}</td>
                <td style="border: 2px solid black">{{ coach.salario }}</td>
                <td style="border: 2px solid black">{{ coach.email }}</td>
                <td style="border: 2px solid black"></td>
                <td style="border: 2px solid black">
                    <a href="/coaches/{{ coach.id }}">
                        <button type="button">Actualizar</button>
                    </a>
                </td>
                <td style="border: 2px solid black">
                    <form id="delete-coach" action="{{ path('coach_delete', {'id': coach.id}) }}" method="post" onsubmit="return confirm('Estás seguro de que quieres eliminar al entrenador {{ coach.nombre }}?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/coaches"><h3>Volver al inicio</h3></a>
{% endblock %}