{% extends 'base.html.twig' %}
{% block body %}
    <h1>Entrenadores</h1>
    <table>
        <thead>
        <tr>
            <th>ID del entrenador</th>
            <th>Nombre</th>
            <th>Salario</th>
        </tr>
        </thead>
        <tbody>
        {% for coach in coaches %}
            <tr>
                <td>{{ coach.idCoaches }}</td>
                <td>{{ coach.nombre }}</td>
                <td>{{ coach.salario }}</td>
                <td>{{ coach.email }}</td>
                <td>{{ coach.club_id }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}