{% extends 'base.html.twig' %}
{% block body %}
    <h1>Entrenadores</h1>
    <table style="border: 2px solid black">
        <thead>
        <tr>
            <th style="border: 2px solid black">ID del entrenador</th>
            <th style="border: 2px solid black">Nombre</th>
            <th style="border: 2px solid black">Email</th>
            <th style="border: 2px solid black">Salario</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="border: 2px solid black">{{ coach.id }}</td>
            <td style="border: 2px solid black">{{ coach.nombre }}</td>
            <td style="border: 2px solid black">{{ coach.email }}</td>
            <td style="border: 2px solid black">{{ coach.salario }}</td>
        </tr>
        </tbody>
    </table><br><br>

    <h2>Actualiza la información de {{ coach.nombre }}</h2>
    <form id="update-coach" action="{{ path('coach_update', {'id': coach.id}) }}" method="post">
        <input type="hidden" name="_method" value="PUT">
        <label for="nombre">Nuevo nombre: </label>
        <input type="text" id="nombre" name="nombre" maxlength="45"><br><br>
        <label for="email">Nuevo email: </label>
        <input type="email" name="email" id="email"><br><br>
        <label for="salario">Nuevo salario</label>
        <input type="number" name="salario" id="salario"><br><br>
        <button type="reset">Borrar</button>
        <button type="submit">Actualizar entrenador</button>
    </form><br><br>

    <h2>Dar de alta en un equipo a {{ coach.nombre }}</h2>
    <form id="assign-coach" action="{{ path('coach_assign', {'id': coach.id}) }}" method="post">
        <input type="hidden" name="_method" value="PUT">
        <label for="club_id">ID del club: </label>
        <input type="number" name="club_id" id="club_id" min="1" required><br><br>
        <label for="salario">Salario: </label>
        <input type="number" name="salario" id="salario" min="0" required><br><br>
        <a href="/teams/list"><button type="button">Ver clubs</button></a>
        <button type="submit">Dar de alta</button>
    </form><br><br>

{#    <h2>Dar de baja a {{ coach.nombre }} de su equipo actual</h2>#}
{#    <form id="remove-coach" action="{{ path('coach_remove', {'id': coach.id}) }}" method="post">#}
{#        <input type="hidden" name="_method" value="PUT">#}
{#        <button type="submit">Dar de baja</button>#}
{#    </form>#}

    <a href="/coaches"><h3>Volver al inicio</h3></a

{% endblock %}